<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamefyME - Sobre o sistema</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/sobre.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <a href="{% url 'core:index' %}">Início</a>
        </div>
        <div class="nav-right">
            <a href="{% url 'core:sobre' %}">Sobre o sistema</a>
            <a href="{% url 'core:gamificacao' %}">Gamificação</a>
        </div>
    </header>
    <main>
        <div class="content-center">
            <h1>GamefyME</h1>
            <p>Sua plataforma de atividades mais cativante e amigável</p>
        </div>
        <div class="row">
            <div class="content-left">
                <h1>Gamificação</h1>
                <p>
                    Nossa plataforma combina o poder da gamificação com a eficiência do Método Pomodoro para transformar 
                    sua rotina. Ao gamificar suas atividades, você enfrenta desafios, acumula pontos, conquista prêmios e desbloqueia novas recompensas, 
                    tornando o cumprimento de metas uma experiência motivadora e divertida. Paralelamente, 
                    o Método Pomodoro organiza seu tempo em blocos de 25 minutos de foco intenso, intercalados com breves pausas,
                    o que maximiza sua concentração e previne a fadiga. Essa abordagem integrada estimula a consistência, 
                    impulsiona sua produtividade e torna o processo de alcançar objetivos mais dinâmico e envolvente.
                </p>
            </div>
            <div class="content-right">
                <img src="{% static 'img/Modelo.png' %}" alt="Ilustração sobre o sistema" >
            </div>
        </div>
    </main>
</body>
</html>