<div id="configModal" class="modal">
  {% load static %}
    <div class="modal-content">
      <span class="close-modal" onclick="closeConfigModal()">&times;</span>
      <div id="container-msg-modal"></div>
      <div class="modal-header">
        <h3>Configurações de Usuário</h3>
      </div>
      <div class="modal-body">
        <form method="POST" id="formConfig">
            {% csrf_token %}
            {{ formConfig.as_p }}
          
            <div class="form-field">
              <label for="nmusuario">Nome de usuário</label>
              <input type="text" name="nmusuario" id="nmusuario" value="{{ usuario.nmusuario }}" required>
            </div>
          
            <div class="form-row">
              <div class="form-field">
                <label for="emailusuario">Email</label>
                <input type="email" name="emailusuario" id="emailusuario" value="{{ usuario.emailusuario }}" required>
              </div>
          
              <div class="form-field">
                <label for="dtnascimento">Data de Nascimento</label>
                <input type="date" name="dtnascimento" id="dtnascimento" value="{{ usuario.dtnascimento|date:'Y-m-d' }}" required>
              </div>
            </div>

            <div class="form-field">
                <label class="switch-label" for="toggleSenha">Deseja alterar a senha?</label>
                <label class="switch">
                  <input type="checkbox" id="toggleSenha" onchange="toggleCamposSenha()">
                  <span class="slider"></span>
                </label>
            </div>
              
            <div id="camposSenha" class="form-field" style="display: none;">
                <label for="senha_atual">Senha atual</label>
                <div class="campo-senha">
                  <input type="password" id="senha_atual" name="senha_atual" placeholder="********">
                  <span class="toggle-senha">
                    <img src="{% static 'img/eye-close.png' %}" alt="Ver senha" />
                  </span>
                </div>
                
              
                <label for="nova_senha" style="margin-top: 10px;">Nova senha</label>
                <small>Sua senha deve ter pelo menos 6 caracteres, com uma letra maiúscula e um caractere especial.</small>
                <div class="campo-senha">
                  <input type="password" id="nova_senha" name="nova_senha" placeholder="********">
                  <span class="toggle-senha">
                    <img src="{% static 'img/eye-close.png' %}" alt="Ver senha" />
                  </span>
                </div>                
            </div>      
          
            <div class="form-actions">
              <button type="submit" class="action-btn">Salvar Alterações</button>
            </div>
        </form>    
      </div>
      <div class="botao-desativar">
        <button onclick= "deletarUsuario()" class="action-btn" id="desativar">Desativar conta</a>
      </div>      
    </div>
  </div>
  
  <script>
    function deletarUsuario() {
      if (confirm("Tem certeza que deseja desativar sua conta?")) {
        window.location.href = "{% url 'usuarios:deletar_usuario' %}";
      }
      else {
        return false; // Impede o envio do formulário se o usuário cancelar
      }
    }

    function toggleCamposSenha() {
      const mostrar = document.getElementById('toggleSenha').checked;
      const campos = document.getElementById('camposSenha');
      campos.style.display = mostrar ? 'block' : 'none';
    
      if (mostrar) {
        campos.querySelectorAll(".toggle-senha").forEach(function (el) {
          el.addEventListener("click", function () {
            const input = el.closest(".campo-senha").querySelector("input");
            const img = el.querySelector("img");
    
            if (input.type === "password") {
              input.type = "text";
              img.src = "{% static 'img/eye-open.png' %}";
            } else {
              input.type = "password";
              img.src = "{% static 'img/eye-close.png' %}";
            }
          });
        });
      }
    }    
    </script>
    