{% load static %}
<div class="profile-section">
    <div class="avatar-container">
        <div class="avatar">
            <div class="avatar" onclick="abrirModalAvatar()">
                <img src="{% static 'img/avatares/' %}{{ usuario.imagem_perfil }}" alt="Avatar" title="Clique para mudar sua foto de perfil" class="avatar-atual" style="cursor: pointer;" />
              </div>
        </div>
    </div>
    <div class="profile-info">
        <h2 class="nmusuario">{{ usuario.nmusuario }}</h2>
        <p class="user-date">{{ usuario.dtnascimento|date:"d/m/Y" }}</p>
        <div class="streak-container">
            <div class="streak-title">
                Dias consecutivos de atividades completas: <strong>{{ streak_atual }}</strong>
            </div>
              
            <div class="weekdays">
                <div class="weekdays-div">
                    {% for dia in streak_data %}
                        <div class="weekday" title="{{ dia.data|date:'d/m/Y' }}">
                            <div class="weekday-label">{{ dia.dia_semana }}</div>
                            <div>
                                <div class="weekday-icon">
                                    {% if dia.quebrou and streak_atual > 0 %}
                                        <img src="{% static 'img/fogo-congelado.png' %}" alt="Quebrou o streak">
                                    {% elif dia.concluiu %}
                                        <img src="{% static 'img/fogo-ativo.png' %}" alt="Concluiu">
                                    {% else %}
                                        <img src="{% static 'img/fogo-inativo.png' %}" alt="Não concluiu">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="level">
                <span class="level-number">Nível: <span class="nivel-circle">{{ usuario.nivelusuario }}</span></span>
                <div class="progress-bar">
                    <div class="progress-fill" style="width: {% widthratio usuario.expusuario 1000 100 %}%">
                        <div class="progress-text">
                            <span style="margin-left: 80px;">{{ usuario.expusuario }}</span><span>/1000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-perfil">
        {% if not esconder_add %}
            <a href="#" onclick="openCadastroAtividadeModal()" class="btn-perfil add-task-btn with-loading">
                Add Tarefa
            </a>   
        {% endif %}
        {% if exibir_voltar %}
            <a href="{% url 'usuarios:main' %}" id="btnVoltar" class="btn-perfil btn-finalizar with-loading">
                Voltar
            </a>
        {% endif %}
    </div>
</div>

<div id="avatarModal" class="modal">
    <div class="modal-content" style="max-width: 600px;">
      <span class="close-modal" onclick="fecharModalAvatar()">&times;</span>
      <div class="modal-header">
        <h3>Escolha seu Avatar</h3>
      </div>
      <div class="modal-body" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
        {% for img in avatares_disponiveis %}
          <label style="cursor: pointer;">
            <input type="radio" name="imagem_perfil" value="{{ img }}" style="display: none;">
            <img src="{% static 'img/avatares/' %}{{ img }}" class="avatar-select" onclick="selecionarAvatar('{{ img }}')" />
          </label>
        {% endfor %}
      </div>
    </div>
</div>
  
  