<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamefyME - Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" >
    <script src="{% static 'scripts/global.js' %}"></script>
</head>
<body>
    <header>
        <div class="nav-left">
            <a href="{% url 'core:index' %}">Início</a>
            <a href="{% url 'usuarios:cadastro' %}">Registrar</a>
        </div>
        <div class="nav-right">
            <a href="{% url 'core:sobre' %}">Sobre o sistema</a>
            <a href="{% url 'core:gamificacao' %}">Gamificação</a>
        </div>
    </header>

    {% include 'loading.html' %}

    <main>
        <div class="login-container">
            {% if erro %}
            <div class="msg-flutuante erro">
                {{ erro }}
                <span class="fechar" onclick="fecharMsg(this)">×</span>
            </div>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    <div class="msg-flutuante sucesso">
                        {{ message }}
                        <span class="fechar" onclick="fecharMsg(this)">×</span>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="content-right">
                <form action="{% url 'usuarios:login' %}" method="POST">
                    {% csrf_token %}
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Digite seu email" required>

                    <label for="senha">Senha</label>
                    <div class="campo-senha">
                        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
                        <span class="toggle-senha">
                          <img src="{% static 'img/eye-close.png' %}" alt="Ver senha" />
                        </span>
                    </div>

                    <button type="submit" class="with-loading">Login</button>
                </form>
                <a href="{% url 'usuarios:esqueceu' %}" class="forgot-password">Esqueceu a senha?</a>
            </div>
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          document.querySelectorAll(".toggle-senha").forEach(function (el) {
            el.addEventListener("click", function () {
              const input = el.previousElementSibling;
              const img = el.querySelector("img");
        
              if (input.type === "password") {
                input.type = "text";
                img.src = "{% static 'img/eye-open.png' %}";
              } else {
                input.type = "password";
                img.src = "{% static 'img/eye-close.png' %}";
              }
            });
          });
        });
        </script>
        
</body>
</html>