header {
    justify-content: space-between;
}

.nav-left, .nav-right {
    display: flex;
    gap: 12px;
}

.nav-left a, .nav-right a {
    color: #fff;
    background: var(--roxo-botao);
    padding: 8px 18px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 0 var(--roxo-gradiente-top);
    border: none;
    outline: none;
}

.nav-left a:hover, .nav-right a:hover {
    background: var(--roxo-gradiente-top);
    box-shadow: 0 4px 8px var(--roxo-gradiente-top);
}

main {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 40px 50px;
}
.content-center {
    animation: fadeIn 1s ease-out 0.3s backwards;
}
.content-center h1 {
    font-size: 100px;
}

.content-center p {
    font-size: 30px;
    color: #bdbdbd;
}

.content-left {
    flex: 2;
    max-width: 700px;
    animation: fadeIn 1s ease-out 0.3s backwards;
}

.content-left h1 {
    font-size: 70px;
    margin-bottom: 18px;
}

.content-left p, strong, h2, li {
    font-size: 35px;
    color: #fff;
    line-height: 1.5;
}

.content-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-out 0.3s backwards;
}

.content-right img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0);}
}

@media (max-width: 768px) {
    main {
      flex-direction: column;
      padding: 0 5vw;
    }
  
    .row {
      flex-direction: column;
      margin: 20px 0;
      padding: 0 5vw;
    }
  
    .content-left h1,
    .content-center h1 {
      font-size: 36px;
    }
  
    .content-left p,
    .content-center p {
      font-size: 18px;
    }
  }
  